/* hero.css */

/* General styling */
.contain {
  max-width: 900px;
  margin: 15px auto; /* Center the container horizontally */
  padding: 30px 90px;
  background: transparent;
  

}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

.Heading {
  font-size: 2em;

  /* Add any other styles for your heading */
}

.Preheading {
  font-size: 1.2em;

  /* Add any other styles for your paragraph */
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 26px;
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

label {
  margin-bottom: 4px;
  font-weight: bold;
}

select,
input[type="text"] {
  width: 110%;
  padding: 15px;
  margin-bottom: 10px; /* Add some space between the inputs */
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Styling for fields on one line */
.search {
  margin-top: 16px;
  padding: 15px;
  background-color: #3bf66a;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.search:hover {
  background-color: #37c25a;
}

