/* Add these styles to your existing CSS file */
.containers {
    height: calc(100vh - 60px);
    width: 100%;
background-image: url('../../g.jpg');
    background-size: cover;
    
    background-blend-mode: darken;
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 15px;
  }
  
  .wrapper > h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0e0d0d;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .wrapper > h5 {
    color: #0f0f0f;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .options {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around; /* Adjust as needed */
  }
  
  .options select {
    width: 35%; /* Adjust as needed for two columns with some space in between */
    margin-bottom: 12px;
    height: 40px;
    border: none;
    outline: none;
    
    background-color: rgb(187, 187, 207);
    color: #0e0d0d;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .baths-container{
    flex-basis: 5%;
  }
  
  .options select:first-child {
    color: #1a1818;
  }
  
  .dropdown-container {
    flex-basis: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-trigger {
    width: 60%; /* Adjust as needed */
    padding: 10px;
    border: none;
    background-color:  rgb(187, 187, 207);
    color: #0c0c0c;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around; /* Adjust as needed */
  }
  
  .dropdown-option {
    flex-basis: 48%; /* Adjust as needed for two columns with some space in between */
  }
  
  .dropdown-option select {
    width: 100%;
  }
  
  .searchIcon {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(7, 3, 73) 0%, rgb(14, 14, 132) 35%, rgb(32, 97, 219) 100%);
    fill: #fff;
    cursor: pointer;
  }
  
  .location select {
    width: 80%; /* Adjust as needed */
  }
  
  
.bed {
  font-size: 10px; /* Adjust the size as needed */
}
  /* RESPONSIVE */
  @media only screen and (max-width: 768px) {
    .options select,
    .dropdown-option select,
    .location select {
      flex-basis: 100%;
    }
  }
  